{{#partial "visual"}}
<div class="visual title">
    <h2>예배 영상</h2>
</div>
{{/partial}}

{{#partial "content"}}
<div id="container">
    <div class="content-wrap">
        <div class="tbl-wrap">
            <table class="board-write">
                <caption>BOARD WRITE</caption>
                <colgroup>
                    <col style="width: 25%;">
                    <col style="width: auto;">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row"><label for="category">Category</label></th>
                    <td>
                        <select id="category" v-model="params.youtube_type" >
                            <option value="">선택</option>
                            <option value="S">주일예배</option>
                            <option value="F">금요예배</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="subject">Subject</label></th>
                    <td><input type="text" id="subject" class="subject" placeholder="제목을 입력하세요." v-model="params.youtube_title"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="url">URL</label></th>
                    <td><input type="text" id="url" class="subject" placeholder="URL를 입력하세요." v-model="params.youtube_url"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="youtube-dt">영상날짜</label></th>
                    <td><input type="text" id="youtube-dt" class="calendar" title="시작날짜" v-model="params.youtube_dt"/></td>
                </tr>
                <tr>
                    <th scope="row">Contents</th>
                    <td>
                        <div class="editor-area" id="editor">
                            <!--cross editor-->
                            <div id="crossParent" class="container">
                                <textarea id="smart-editor-desc" v-model="params.comment"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p class="btn-wrap double">
            <a href="#none" class="btn border" @click="goBack()">CANCEL</a>
            <a href="#none" class="btn blue" @click="setData()">SAVE</a>
        </p>
    </div>
    <!-- //content-wrap -->
</div>
<!-- //container -->
{{/partial}}

{{#partial "javascript"}}
<script>
   const app = new Vue({
        el: '#container',
        mixins: [commonMixin], //  vue common mixin js
        data: {
            params: {{json params}},
            keyword: {{json keyword}},
            base_url: '/youtube'
        },
        methods: {
            goBack: function () {
                commonFormSubmit(this.base_url, {} , this.keyword)
            },
            setData: function () {
                if (!this.valid()) return
                const self = this

                this.params.comment = getSmartEditorShowHTML()

                alertPopup("저장하시겠습니까?", 'confirm').then(function(){
                    axios.put('/youtube', self.params).then(function(res){
                        if (res.status == 200) {
                            self.goBack()
                        }
                    })
                }).catch(function(err){})
            },
            valid: function () {
                var msg = ''

                if (_.isEmpty(_.trim(this.params.youtube_url))) {
                    msg = 'URL를 입력해 주세요.'
                } else if (_.isEmpty(_.trim(this.params.youtube_title))) {
                    msg = 'Subject를 입력해 주세요.'
                } else if (_.isEmpty(this.params.youtube_type)) {
                    msg = 'Category 입력해 주세요.'
                }

                if (msg != '') {
                    alertPopup(msg)
                    return false
                }
                return true
            },
            init: function () {
                if (this.params == null) {
                    this.params = {
                        youtube_title: '',
                        youtube_url: '',
                        youtube_type: '',
                        comment: ''
                    }
                }
            }
        },
        created() {
            this.init()
        },
        mounted: function () {
            setDatepicker()
        },
    });
</script>
{{/partial}}

{{> layout vuejs=true namo=true }}
