@charset "utf-8";
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 300;
	src: 
		 /* url(font/NotoSansKR-Light.woff2) format('woff2'), */
		 url(font/NotoSansKR-Light.woff) format('woff'),
		 url(font/NotoSansKR-Light.ttf) format('truetype'),
		 url(font/NotoSansKR-Light.otf) format('opentype'); 
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 400;
	src: 
		 /* url(font/NotoSansKR-Regular.woff2) format('woff2'), */
		 url(font/NotoSansKR-Regular.woff) format('woff'),
		 url(font/NotoSansKR-Regular.ttf) format('truetype'),
		 url(font/NotoSansKR-Regular.otf) format('opentype'); 
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 500;
	src: 
			/*  url(font/NotoSansKR-Medium.woff2) format('woff2'), */
			 url(font/NotoSansKR-Medium.woff) format('woff'),
			 url(font/NotoSansKR-Medium.ttf) format('truetype'),
			 url(font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 700;
	src: 
		 /* url(font/NotoSansKR-Bold.woff2) format('woff2'), */
		 url(font/NotoSansKR-Bold.woff) format('woff'),
		 url(font/NotoSansKR-Bold.ttf) format('truetype'),
		 url(font/NotoSansKR-Bold.otf) format('opentype');
}

/* Reset */
* { 
	margin: 0; padding: 0; 
}
html { 
	min-width: 320px;
	font-size: 62.5%;
}
body {
	width: 100%;
	/*min-width: 1600px;
	overflow-x: auto;*/
	font-size: 1.4rem; 
	line-height: 2.4rem; 
	font-family: "NotoSans", "Malgun Gothic", "맑은 고딕", 'NanumGothic', '나눔고딕', Dotum, Gulim, Arial, Sans-serif; 
	font-weight: 400;
	word-wrap: break-word; 
	-webkit-text-size-adjust: none;
}
body.scroll-lock,
body.scroll-lock #gnb,
body.scroll-lock .menu-full {
	width: calc(100% - 17px);
}
body, input, select, textarea, button { 
	color: #333; 
	font-family: "NotoSans", "Malgun Gothic", "맑은 고딕", 'NanumGothic', '나눔고딕', Dotum, Gulim, Arial, Sans-serif; 
	font-weight: 400;
	/* box-sizing: border-box; */ 
	/*outline: none;*/
}
input[readonly=readonly] {
	background: #f2f2f2;
}
input, select, textarea { 
	vertical-align: middle; 
	/*-webkit-box-sizing: border-box;  
	box-sizing: border-box; */ 
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none; 
}
input::-ms-clear, input::-ms-reveal { 
	display: none; 
}
input::-webkit-search-cancel-button { 
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none; 
}
input::-webkit-clear-button, 
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
	display: none; 
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none; 
}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
	color: #d2d2d2; 
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { 
	color: #d2d2d2!important; 
}
button { 
	overflow: visible; 
	border: 0; 
	border-radius: 0; 
	background: none; 
	cursor: pointer; 
	outline:none; 
}
textarea { 
	width: 100%;
	border-radius: 4px;
	resize: none; 
}
label { 
	vertical-align: middle; 
	/*cursor:pointer;*/ 
}
a { 
	color: inherit; 
	text-decoration: none; 
}
a:active, a:hover, a:focus { 
	text-decoration: none; 
	outline: none;
}
/* h1, h2, h3, h4, h5, h6 { font-size: 100%; } */
em, address { 
	font-style: normal; 
}
ol, ul, li { 
	list-style: none; 
}
img, fieldset { 
	border: 0; 
}
table { 
	border: 0; 
	border-spacing: 0; 
	border-collapse: collapse; 
}
legend { 
	visibility: hidden; 
	position: absolute; 
	left: -5000px; 
	font-size: 0; 
	line-height: 0; 
}
caption { 
	visibility: hidden; 
	font-size: 0; 
	line-height: 0; 
	text-indent: -5000px; 
}
hr { display: none; }
img { -ms-interpolation-mode: bicubic; } 

/* Accessibility */
#skipNav { 
	position: relative; 
}
#skipNav a { 
	display: block; 
	position: absolute; 
	top: 0; 
	left: -9999px; 
	z-index: 99999; 
	width: 100%; 
	padding: 10px 0;
	background-color: rgba(0,0,0,0.8); 
	color: #fff; 
	text-align: center; 
}
#skipNav a:focus, #skipNav li a:active { 
	left: 0; 
}

.focusOutline { 
	/* outline: 1px dotted #808080; 
	outline: auto 5px -webkit-focus-ring-color;  */
}
.hidden { 
	position: absolute !important; 
	left: -99999px !important; 
}

/* form */
textarea {
	max-width: 100%; 
	min-height: 42px;
	padding: 10px; 
	border: 1px solid #c6cbd4; 
	color: #333; 
	outline: none;
	font-size: 1.4rem;
	line-height: 2rem;
	box-sizing: border-box;
}
select {
	min-height: 32px; 
	/* padding: 10px 48px 10px 16px; */
	padding: 10px 35px 10px 16px;
	border: 1px solid #c6cbd4; 
	border-radius: 5px; 
	background: #fff url('../../assets/img/common/select_arrowB.png') no-repeat right 16px center;
	background-size: 17px auto;
	color: #444; 
	/* font-size: 1.6rem; 
	line-height: 2.4rem; */
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 300;
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
}
select[disabled] {
	background-color: #f2f2f2;
	background-image: url('../assets/img/common/select_arrowG.png');
	border: #f2f2f2;
	color: #999;
}
select::-ms-expand { 
	display: none; 
}

input {
	/*min-height: 32px;
	padding: 5px 5px 3px 8px;*/
	line-height: 1; 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
}
input[type=text], input[type=password], input[type=number] { 
	padding: 10px 16px; 
	border: 1px solid #c6cbd4; 
	border-radius: 4px;
	color: #444;
	/* font-size: 1.6rem; 
	line-height: 1.5; */
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 300;
	outline: none;
	box-sizing: border-box;
}
select:focus, input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
	border: 1px solid #333 !important;
	outline: none !important;
}
input[type=text][readonly=readonly]:focus, input[type=text][readonly=yes]:focus {
	border: 1px solid #c6cbd4 !important;
}
select::placeholder, input[type=text]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder {
	color: #999;
}
.search-wrap select:focus, .search-wrap input[type=text]:focus {
	border: none !important;
}
input.no-bor { border: none; }
/* input[type=password] {border:1px solid #ccc; border-radius:5px; color:#000;} */
input[type=checkbox] {
	/* margin-top: -1px; */ 
	/* margin-left: -3px; */
}
body input[class*='calendar'],
body input[class*='calendar'][readonly=readonly] {
	position: relative; 
	border: 1px solid #c6cbd4; 
	border-radius: 5px; 
	background: #fff url('../../assets/img/common/ico_calendar.png') no-repeat right 8px center !important; 
	background-size: 24px auto !important;
	color: #333 !important; 
	box-sizing: border-box;
}

input[type=checkbox] {
	display: none;
	width: 24px; 
	height:24px; 
	opacity: 0;
	-webkit-appearance: checkbox; 
	/* position: relative;
	top: 24px;
	left: 4px; */
}
input[type=checkbox] + label {
	display: inline-block; 
	position: relative; 
	/* top: -1px; */
	/* margin-left: -20px; */ 
	/* margin-right: 20px; */
	color: #444; 
	font-size: 100%; 
	line-height: 2.4rem;
	vertical-align: bottom;
	cursor: pointer; 
}
input[type=checkbox] + label:before {
	content: ""; 
	display: inline-block; 
	width: 24px; 
	height: 24px; 
	margin-right: 9px; 
	border: 1px solid #c6cbd4; 
	border-radius: 4px;
	background: #fff;; 
	vertical-align: -6px; 
	box-sizing: border-box; 
}
input[type=checkbox] + label:after {
	content: ""; 
	display: inline-block; 
	position: absolute; 
	left: 6px; 
	/* top: 50%; */ 
	top: 10px;
	width: 9px; 
	height: 5px; 
	/* margin-top: -2px; */
	border: 2px solid #fff; 
	border-right: none; 
	border-top: none; 
	transform: translateY(-50%) rotate(-45deg); 
}
input[type=checkbox]:checked + label:after { 
	color: #fff;
}
input[type=checkbox]:checked + label:before { 
	border: 1px solid #0082ee !important;
	background: #0082ee;
}
input[type=checkbox]:checked:disabled + label:before { 
	border: 1px solid #ddd;
	background: #ddd;
}
input[type=checkbox]:disabled + label { 
	color: #b5b5b5; 
}
input[type=checkbox]:disabled + label:after { 
	border-color: #f3f3f3; 
}
input[type=checkbox]:disabled + label:before { 
	border: 1px solid #d9d9d9 !important; 
	background: #f3f3f3; 
}
input[type=checkbox]:focus + label:before { 
	outline: 2px solid #a6c7ff; 
}

input[type=radio] {
	display: none;
	width: 24px; 
	height: 24px; 
	opacity: 0;
	-webkit-appearance: radio; 
}
input[type=radio] + label { 
	display: inline-block; 
	position: relative; 
	height: 24px; 
	/* margin-left: -24px; */ 
	/* margin-right: 20px; */
	color: #444; 
	font-size: 100%; 
	line-height: 2.3rem; 
	vertical-align: middle; 
	cursor: pointer; 
	box-sizing: content-box;
}
input[type=radio] + label:before {
	content: ""; 
	display: inline-block; 
	width: 24px; 
	height: 24px; 
	margin-right: 9px;
	border-radius: 50%; 
	background: #c6cbd4; 
	vertical-align: top; 
	box-sizing: content-box;
}
input[type=radio] + label:after {
	content: ""; 
	display: inline-block; 
	position: absolute; 
	top: 1px; 
	left: 1px; 
	width: 14px; 
	height: 14px; 
	border: 4px solid #fff;
	border-radius: 50%; 
	background: #fff; 
	box-sizing: content-box;
}
input[type=radio]:checked + label:before {
	background: #0082ee; 
}
input[type=radio]:checked + label:after {
	background: #0082ee; 
	border:4px solid #fff;
}
input[type=radio]:focus + label:before { 
	outline: 2px solid #a6c7ff; 
}
input[type=radio]:disabled + label { 
	color: #b5b5b5; 
}
input[type=radio]:disabled + label:after { 
	display: none; 
}
input[type=radio]:disabled + label:before { 
	border: 1px solid #d9d9d9; 
	background: #f3f3f3; 
}

.disabled {
	pointer-events: none; 
	opacity: 0.7; 
	user-select: none; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
}

.search {
	position: relative;
	display: inline-block;
}
.search input[type=text] {
	min-width: 360px;
	padding-right: 53px;
}
.search input[type=text]:focus {
	border: 1px solid #333;
}
.search button {
	position: absolute;
	right: 1px;
	top: 1px;
	width: 50px;
	height: 50px;

	background: #ddd;
}
.search .icon {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	font-size: 1px;
	overflow: hidden;
	text-indent: -999px;
	color: transparent;
	line-height: 0;
}

.file.box {
  width: 500px;
}

.filetype {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *margin-right: 4px;
}

.filetype * {
  vertical-align: middle;
}

.filetype .file-text {
  position: relative;
  width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  background-color: #ecefef;
  margin: 0;
  border: 1px solid #cdd3d4;
  line-height: 20px;
  z-index: 10;
}

.filetype .file-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  overflow: hidden;
}

.filetype .file-select .input-file {
  width: 60px;
  filter: alpha(opacity=0);
  opacity: 0;
  height: 20px;
}

.filetype .file-text + .file-btn {
  display: inline-block;
  background-color: #cdd3d4;
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  color: #fff !important;
  cursor: pointer;
  *margin-left: 4px;
}

/** btn **/
.btn-wrap {
	font-size: 0;
	text-align: center;
}
.btn-wrap.alignL {
	text-align: left;
	margin: -8px 0 0 -8px;
}
.btn-wrap.alignR {
	text-align: right;
}
.btn {
	display: inline-block;
	min-width: 120px;
	padding: 16px 24px;
	background: #333;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.8rem;;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	white-space: nowrap;
}
.btn-wrap .btn + .btn {
	margin-left: 8px;
}
.btn-wrap.full .btn + .btn {
	margin-left: 0;
}
.btn-wrap.double .btn + .btn {
	margin-left: 16px;
}
.btn-wrap.alignL .btn {
	margin-top: 8px;
	margin-left: 8px;
}
.btn.blue {
	background: #0082ee;
}
.btn.border {
	border: 1px solid #c6cbd4;
	background: #fff;
	color: #999;
}
.btn.border-blue {
	border: 1px solid #0082ee;
	background: #fff;
	color: #008af4;
}
.btn.icon {
	width: auto;
	min-width: auto;
	padding: 6px 8px 6px 26px;
	border: 1px solid #0082ee;
	background: #fff url(../../assets/img/common/btn_icon.png) no-repeat 7px center;
	background-size: 14px auto;
	color: #0082ee;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.btn.icon.green {
	border: 1px solid #009c56;
	background: #fff url(../../assets/img/common/btn_iconG.png) no-repeat 9px center;
	background-size: 14px auto;
	color: #009c56;
}

.btn.icon.del {
	border: 1px solid #666;
	background: #fff url(../../assets/img/common/btn_del2.png) no-repeat 9px center;
	background-size: 11px auto;
	color: #666;
}
.btn.txt {
	width: auto;
	min-width: 0;
	padding: 10px 8px;
	background: none;
	border: 1px solid #333;
	border-radius: 4px;
	color: #333;
	font-size: 1.4rem;
	line-height: 2rem;
}

.btn.txtB {
	width: auto;
	min-width: 0;
	padding: 10px 8px;
	background: none;
	border: 1px solid #0082ee;
	border-radius: 4px;
	color: #0082ee;
	font-size: 1.4rem;
	line-height: 2rem;
}
.btn.txtK {
	width: auto;
	min-width: 0;
	padding: 10px 8px;
	background: #333;
	border: 1px solid #333;
	border-radius: 4px;
	color: #fff;
	font-size: 1.4rem;
	line-height: 2rem;
}

a.link-txt {
	color: #0082ee;
}
a.link-txt:hover {
	text-decoration: underline;
}
.accent {
	color: #ff647c;
}
.accent2 {
	color: #0082ee !important;
}
.accent3 {
	color: #ff5353;
}
.accent4 {
	color: #343d8f;
}
.desc {
	color: #444;
}
.desc2 {
	color: #999;
}
.ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ta-show {
	display: none !important;
}
.mo-show {
	display: none !important;
}
/** layout **/
/* gnb */
.gnb-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7;
}
#gnb {
	/*	position: relative;*/
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	transition: background .3s ease-out;
}
.gnb-width {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
#gnb h1 {
	position: absolute;
	top: 32px;
	/* left: 100px; */
	left: -253px;
}
#gnb h1 .logo {
	display: block;
	width: 129px; 
	height: 20px; 
	background: url('../../assets/img/common/logoW.png') no-repeat 0 0; 
	background-size: 100% auto;
	font-size: 0;
}
#gnb h1 span {
	display: block;
	margin-top: 4px;
	color: #fff;
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.nav {
	/* width: 640px; */
	/* margin-left: 355px; */
}
.nav:after {
	display: block;
	content: '';
	clear: both;
}
.nav > li {
	float: left;
}
.nav > li + li {
	margin-left: 48px;
}
.nav > li > a {
	display: block;
	padding: 38px 0;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 500;
}
.nav .depth2 {
	display: none;
}

#gnb .myinfo {
	position: absolute;
	top: 25px;
	/* right: 158px; */
	right: -192px;
	color: #fff;
	font-size: 0;
}
#gnb .myinfo .search {
	width: 24px;
	height: 24px;
	background: url('../../assets/img/common/btn_searchW.png') no-repeat 0 0;
	background-size: 100% auto;
	margin-right: 70px;
	font-size: 0;
	vertical-align: middle;
}
#gnb .myinfo .user {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url('../../assets/img/common/user_bg.png') no-repeat center 0;
	background-size: 100% auto;
	border-radius: 50%;
	margin-right: 16px;
	font-size: 0;
	vertical-align: middle;
}
#gnb .myinfo p {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 300;
	vertical-align: middle;
}
#gnb .myinfo p strong {
	font-weight: 500;
}
#gnb .myinfo .tooltip-menu {
	display: none;
	position: absolute;
	bottom: -83px;
	right: -32px;
	padding: 16px 24px;
	border: 1px solid #c6cbd4;
	border-radius: 4px;
	background: #fff;
	font-size: 1.4rem;
	color: #444;
	opacity: 0;
	z-index: -1;
	transition: all .3s;
}
#gnb .myinfo .tooltip-menu.show {
	display: block;
	opacity: 1;
	z-index: 1;
	transition: all .3s;
}

#gnb .myinfo .tooltip-menu:before {
	display: block;
	content: '';
	position: absolute;
	top: -7px;
	left: 50%;
	width: 10px;
	height: 7px;
	background: url('../../assets/img/common/tooltip_triangle.png') no-repeat 0 0;
	background-size: 100% auto;
	transform: translateX(-50%);
}
#gnb .myinfo .tooltip-menu .txt {
	display: none;
}
#gnb .myinfo .tooltip-menu ul {
	border-radius: 0 0 4px 4px;
}
#gnb .myinfo .tooltip-menu li {
	display: inline-block;
}
#gnb .myinfo .tooltip-menu a:hover {
	text-decoration: underline;
}
#gnb .myinfo .tooltip-menu li + li:before {
	display: inline-block;
	content: '';
	width: 1px;
	height: 14px;
	margin: 0 18px -1px 14px ;
	background: #ddd;
}
#gnb .myinfo .tooltip-menu .info {
	padding-left: 24px;
	background: url('../../assets/img/common/btn_myinfo.png') no-repeat 0 center;
	background-size: 16px auto;
}
#gnb .myinfo .tooltip-menu .logout {
	padding-left: 23px;
	background: url('../../assets/img/common/btn_logout.png') no-repeat 0 center;
	background-size: 15px auto;
}

#gnb .search-wrap {
	display: none;
	padding: 50px 0 60px;
	background: #fff;
}
#gnb .search-area {
	width: 680px;
	margin: 0 auto;
	border-bottom: 2px solid #333;
}
#gnb .search-wrap select, #gnb .search-wrap input, #gnb .search-wrap button {
	border: none;
	outline: none;
}
#gnb .search-wrap select {
	width: 154px;
	padding: 16px 48px 16px 24px;
	background: #fff url('../../assets/img/common/select_arrow.png') no-repeat right 16px center;
	background-size: 12px auto;
}
#gnb .search-wrap select option:first-child {
	color: red;
}
#gnb .search-wrap input[type=text] {
	width: 460px;
	padding: 16px 24px;
	color: #444;
}
#gnb .search-wrap button {
	width: 24px;
	height: 52px;
	margin-left: 14px;
	background: #fff url('../../assets/img/common/btn_search.png') no-repeat center center;
	background-size: 24px auto;
	font-size: 0;
	vertical-align: bottom;
}

#gnb .menu-close {
	display: none;
	position: absolute;
	top: 38px;
	right: 360px;
	width: 24px;
	height: 24px;
	background: url('../../assets/img/common/menu_close.png') no-repeat center center;
	background-size: 16px auto;
	font-size: 0;
}

#gnb.hover {
	background: #fff;
	transition: background .3s ease-out;
}

#gnb.hover .menu-close {
	display: inline-block;
	z-index: 10;
}
#gnb.hover a, 
#gnb.hover span,
#gnb.fixed a, 
#gnb.fixed span {
	color: #333;
}
#gnb.hover .logo, 
#gnb.fixed .logo {
	background: url('../../assets/img/common/logoB.png') no-repeat 0 0;
	background-size: 100% auto;
}
#gnb.hover .nav > li > a, 
#gnb.fxed .nav > li > a {
	font-weight: 700;
}

#gnb.hover .myinfo {
	display: none;
}
#gnb.fixed .myinfo {
	color: #333;
}
#gnb.hover .myinfo .search, 
#gnb.fixed .myinfo .search {
	background: url('../../assets/img/common/btn_search.png') no-repeat center center;
	background-size: 24px auto;
}
#gnb.fixed {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	background: #fff;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
	transition: background .1s ease-out;
}

.menu-full {
	display: none;
	position: fixed;
	/* top: 100px; */
	top: 94px;
	left: 0;
	width: 100%;
	padding-bottom: 30px;
	opacity: 0;
	background: transparent;
	transition: background .1s ease-out;
}
#gnb.hover + .menu-full {
	display: block;
}
.menu-full .logo {
	display: none;
}
.menu-full > ul {
	/* display: table; */
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}
.menu-full > ul > li {
	margin-top: 10px;
    /*display: inline-table;*/
	/* width: 400px; */
	width: 25%;
}
.menu-full > ul > li:nth-child(4),
.menu-full > ul > li:nth-child(5) {
	/* margin-top: 30px; */
}

.menu-full > ul > li > a {
	font-size: 2rem;
	line-height: 3.6rem;
	font-weight: 700;
}
.menu-full .depth2 {
	margin-top: 12px;
}
.menu-full .depth2 a {
	color: #444 !important;
	line-height: 2.8rem;
}
.menu-full .depth2 a:hover {
	color: #0082ee !important;
	text-decoration: underline;
}
.menu-full.show {
	z-index: 15;
	background: #fff;
	opacity: 1;
	transition: background .3s ease-out;
}
.menu-full .btn-close {
	display: none;
}

.btn-menu {
	display: none;
}

.main #container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.btn-top {
	display: none;
	position: fixed;
	bottom: 312px;
	right: 32px;
	width: 48px;
	height: 48px;
	border: 2px solid #444;
	border-radius: 50%;
	background: #fff url('../../assets/img/common/btn_top.png') no-repeat center center;
	background-size: 17px auto;
	border-radius: 50%;
	font-size: 0;
}

#footer {
	background: #151630;
}
#footer .foot-area {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 32px 0 40px;
	color: #9999a4;
	box-sizing: border-box;
}
.foot-area select {
	min-width: 200px;
	background: #151630 url('../../assets/img/common/select_arrowG_foot.png') no-repeat right center;
	/* background: transparent url('../../assets/img/common/select_arrowW.png') no-repeat right 16px center; */
	background-size: 26px auto;
	border: 1px solid #707070;
	border-radius: 4px;
	color: #a3a3a3;
	font-size: 1.4rem;
}
.foot-area .link {
	display: none;
}
.foot-area ul {
	overflow: hidden;
	width: 470px;
}
.foot-area li {
	float: left;
	width: 140px;
}
.foot-area li:nth-child(3n-1) {
	width: 190px;
}
.foot-area li:nth-child(3n) {
	width: 130px;
}
.foot-area li a {
	line-height: 2.7;
	font-weight: 300;	
}
.foot-area .terms {
	margin-top: 40px;
	font-size: 0;
}
.foot-area .terms a {
	display: inline-block;
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weight: 300;
}
.foot-area .terms span {
	display: inline-block;
	position: relative;
	top: -2px;
	margin: 0 8px;
	font-size: 1rem;
	font-weight: 300;
}
.foot-area .copy {
	margin-top: 17px;
	padding-left: 167px;
	background: url('../../assets/img/common/foot_logo.png') no-repeat 0 0;
	background-size: 150px auto;
	line-height: 1.8rem;
	font-weight: 300;
}
.foot-area .bookmark {
	position: absolute;
	top: 32px;
	right: 0;
}

/* loading */
.loading {
	display: block;
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 55;
	width: 100%;
	height: 100%;
	transform: translateY(-50%);
}

.loader:before {
    content: "";
    position: absolute;
    top: 0px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    -webkit-animation: loaderg 1.8s ease-in-out infinite;
            animation: loaderg 1.8s ease-in-out infinite;
}
.loader {
    position: relative;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    background-color: #e6f3ff;
}

.loader:after {
    content: "";
    position: absolute;
    top: 0px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    -webkit-animation: loader 1.8s ease-in-out infinite;
            animation: loader 1.8s ease-in-out infinite;
}

@-webkit-keyframes loaderg {
    0%{ left: -25px; background-color: rgba(220, 243, 255, .8); }
    50%{ left: 0px; background-color: rgba(220, 243, 255, .1);}
    100%{ left:-25px; background-color: rgba(220, 243, 255, .8); }
}
@keyframes loaderg {
    0%{ left: -25px; background-color: rgba(220, 243, 255, .8); }
    50%{ left: 0px; background-color: rgba(220, 243, 255, .1);}
    100%{ left:-25px; background-color: rgba(220, 243, 255, .8); }
}


@-webkit-keyframes loader {
    0%{ left: 25px; background-color: rgba(220, 243, 255, .8); }
    50%{ left: 0px; background-color: rgba(220, 243, 255, .1);}
    100%{ left:25px; background-color: rgba(220, 243, 255, .8); }
}
@keyframes loader {
    0%{ left: 25px; background-color: rgba(220, 243, 255, .8); }
    50%{ left: 0px; background-color: rgba(220, 243, 255, .1);}
    100%{ left:25px; background-color: rgba(220, 243, 255, .8); }
}

@media screen and (max-width:1919px) {
	.gnb-width {
		position: relative;
		width: 1662px;
		margin: 0 auto;
	}
	#gnb h1 {
		left: 0;
	}
	.nav {
		margin-left: 230px;
	}
	#gnb .myinfo {
		right: 0;
	}
	.menu-full > ul {
		
	}
	.menu-full > ul > li {
		/* width: 33%; */
	}
	#gnb .menu-close {
		right: 60px;
	}
	#gnb .myinfo .tooltip-menu {
		right: -16px;
	}
}

@media screen and (max-width:1694px) {
	.gnb-width {
		width: 100%;
	}
	#gnb h1 {		
		left: 16px;
	}
	.nav ,
	.menu-full > ul {
		margin-left: calc((100vw - 1200px) / 2);
		margin-left: -webkit-calc((100vw - 1200px) / 2);
	}
	#gnb .myinfo {
		right: 16px;
	}
}
@media screen and (max-width:1599px) {
	.nav ,
	.menu-full > ul {
		margin-left: 200px;
	}
}

@media screen and (max-width:1023px) { 	
	#gnb .myinfo p {
		display: none;
	}
	#gnb .myinfo .user {
		margin-right: 0;
	}
	#gnb .myinfo .tooltip-menu {
		bottom: -191px;
		right: -10px;
		width: 240px;
		padding: 0;
	}
	#gnb .myinfo .tooltip-menu:before {
		left: inherit;
		right: 16px;

	}
	#gnb .myinfo .tooltip-menu .txt {
		display: block;
		padding: 24px 24px 28px;
		color: #333;
		font-size: 1.6rem;
		line-height: 2.4rem;
		font-weight: 400;
	}
	#gnb .myinfo .tooltip-menu ul {
		padding: 16px 24px 16px;
		background: #f7f7f7
	}
	#gnb .myinfo .tooltip-menu ul a {
		padding: 16px 0;
		background: #f7f7f7;
	}
}

@media screen and (max-width:1366px) {
	body.scroll-lock,
	body.scroll-lock #gnb {
		/* width: 100%; */
	}
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox] + label {
		margin: 0 !important;
	}
	.ta-show {
		display: block !important;
	}
	/* gnb-width */
		body {
		min-width: auto;
		overflow-x: hidden;
	}
	#gnb {
		min-width: auto;
	}

	.gnb-width {
		width: 100%;
	}
	
	.btn-menu {
		display: block;
		/* position: fixed; */
		position: absolute;
		top: 29px;
		left: 22px;
		width: 24px;
		height: 24px;
		padding: 10px;
		background: url('../../assets/img/common/btn_toggleW.png') no-repeat center center;
		background-size: 24px auto;
		font-size: 0;
	}

	#gnb.fixed .btn-menu {
		background: url('../../assets/img/common/btn_toggle.png') no-repeat center center;
    background-size: 24px auto;
	}

	#gnb h1 {
		display: none;
	}
	#gnb h1 .logo {
		background: url('../../assets/img/common/logoB.png') no-repeat 0 0;
		background-size: 100% auto;
	}
	#gnb h1 span {
		display: none;
	}
	.nav {
		display: none;
	}

	.menu-full {
		display: block;
		position: fixed;
		top: 0;
		left: -527px;
		overflow-y: auto;
		z-index: 30;
		width: 527px !important;
		min-width: auto;
		height: 100%;
		padding-top: 40px;
		background: #fff;
		opacity: 1;
		transition: all .3s ease;
	}
	.menu-full.open {
		left: 0;
		transition: all .3s ease;
	}
	.menu-full .logo {
		display: block;
		width: 128px;
		height: 20px;
		margin-left: 40px;
		background: url('../../assets/img/common/logoB.png') no-repeat 0 0;
		background-size: 100% auto;
		font-size: 0;
	}
	.menu-full > ul {
		display: block;
		width: auto;
		margin-top: 120px;
		margin-left: 0;
		padding-left: 0;
	}
	.menu-full > ul > li {
		display: block;
		width: 100%;
		margin-top: 0;
		margin-bottom: 40px;
	}
	.menu-full a {
		display: block;		
	}
	.menu-full > li + li {
		margin-left: 0;
	}
	.menu-full > ul > li > a {
		padding: 0 0 0 40px;
		color: #333;
		font-size: 2.4rem;
		line-height: 4.6rem;
		font-weight: 700;
	}
	.menu-full .depth2 {
		display: none;
		background: #f7f7f7;
		padding: 36px 0 49px 56px;
		margin-top: 22px;
	}
	.menu-full .depth2 a {
		color: #6f6f6f;
		font-size: 1.8rem;
		line-height: 3.6rem;
	}
	.menu-full .depth2 li + li {
		margin-top: 12px;
	}
	.menu-full .btn-close {
		display: block;
		position: absolute;
		top: 29px;
		right: 20px;
		width: 23px;
		height: 23px;
		padding: 20px;
		background: url('../../assets/img/common/menu_close.png') no-repeat center center;
		background-size: 23px auto;
		font-size: 0;
	}
	
	#gnb .myinfo {
		position: absolute;
		top: 27px;
		right: 32px;
	}
	#gnb .myinfo .search {
		margin-right: 30px;
		padding: 20px;
		background-position: center center;
		background-size: 24px auto;
	}

	#gnb .menu-close {
		display: none;
		top: 22px;
		right: 20px;
		padding: 20px;
		background-size: 23px auto;
	}
	#gnb .search-wrap {
		padding-top: 100px;
	}
	#gnb .search-area {
		width: 630px;
		margin-top: 50px;
	}

	#gnb.search-input h1 {
		display: block;
		left: 40px;
	}	
	#gnb .search-wrap input[type=text] {
		width: 410px;
	}
	#gnb .search-wrap button {
		width: 20px;
		padding: 20px;
		margin-left: 4px;
		background-size: 20px auto;
	}
	#gnb.search-input .menu-close {
		display: block;
	}
	#gnb.search-input .btn-menu {
		display: none;
	}	
	/* //gnb-width */
	.main #container {
		padding: 0 32px;
		width: 100%;
		box-sizing: border-box;
	}
	#footer {
		width: 100%;
	}
	#footer .foot-area {
		width: 100%;
		padding: 32px 32px 40px;
		box-sizing: border-box;
	}
	.foot-area .bookmark {
		right: 32px;
	}

	/* .btn-top {
		display: block;
	} */

	.pc-show {
		display: none !important;
	}
	.ta-hide {
		display: none !important;
	}

}

@media screen and (max-width:767px) { /* mobile ver */
	body, input, select, textarea, button { 
		font-size: 1.4rem;
	}
	select {
		/* padding: 7px 48px 9px 16px; */
		padding: 9px 48px 11px 16px;
	}

	#container {
		width: 100%;
	}

	.mo-hide { 
		display: none !important; 
	}
	.mo-show {
		display: block !important;
	}
	
	.btn {
		font-weight: 400;
	}
	.btn-menu {
		top: 18px;
		left: 19px;
		width: 18px;
		height: 16px;
		padding: 10px;
		background: url('../../assets/img/common/btn_toggleW_mo.png') no-repeat center center;
		background-size: 18px auto;
	}
	#gnb.fixed .btn-menu {
		background-size: 18px auto;
		background-position: center center;
	}
	#gnb .myinfo {
		top: 16px;
		right: 17px;
	}
	.main #gnb .myinfo {
		right: 30px;
	}
	#gnb .myinfo .search {
		width: 16px;
		height: 16px;
		margin-right: 0;
		background-size: 16px auto;
		background-position: center center;
	}
	.main #gnb .myinfo .search {
		margin-right: 14px;
	}
	/* #gnb.hover .myinfo, 
	#gnb.fixed .myinfo {
		position: fixed;
	} */
	#gnb.hover .myinfo .search, 
	#gnb.fixed .myinfo .search {
		background-size: 16px auto;
	}
	#gnb .myinfo .user {
		display: none;
	}
	.main #gnb .myinfo .user {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-right: 0;
	}
	/* #gnb .myinfo p {
		display: none;
	}
	 */
	#gnb .myinfo .tooltip-menu {
		bottom: -170px;
	}
	#gnb.fixed {
		height: 68px;
	}
	#gnb .menu-close {
		top: 19px;
		right: 20px;
		width: 17px;
		height: 17px;
		padding: 20px;
		background-size: 17px auto;
	}
	#gnb.search-input h1 {
		display: none;
	}
	#gnb .search-wrap {
		padding: 10px 30px 40px;
	}
	#gnb .search-area {
		width: 100%;
		margin-top: 120px;
	}
	#gnb.search-input .search-area:before {
		display: block;
		content: '검색';
		position: absolute;
		top: 70px;
		left: 30px;
		font-size: 2rem;
		font-weight: 700;
	}
	#gnb .search-wrap select {
		display: none;
	}
	#gnb .search-wrap input[type=text] {
		width: calc(100% - 40px);
		width: -webkit-calc(100% - 40px);		
		padding: 8px 0;
		font-size: 1.4rem;
	}
	#gnb .search-wrap button {
		height: 36px;
		padding: 15px;
		margin-left: 5px;
	}
	
	.menu-full {
		left: -80%;
		width: 80% !important;
		padding-top: 60px;
		box-sizing: border-box;
	}
	.menu-full.open {
		padding-bottom: 20px;
	}
	.menu-full .logo {
		width: 103px;
		height: 16px;
	}
	.menu-full .btn-close {
		top: 48px;
		right: 22px;
		width: 16px;
		height: 16px;
		background-size: 16px auto;
	}
	.menu-full > ul {
		margin-top: 80px;
	}
	.menu-full > ul > li {
		margin-bottom: 28px;
	}
	.menu-full > ul > li > a {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}
	.menu-full .depth2 {
		padding: 24px 0 24px 56px;
	}
	.menu-full li:last-child .depth2 {
		/* padding-bottom: 70px;
		padding-bottom: calc(env(safe-area-inset-bottom) + 70px);
		padding-bottom: calc(constant(safe-area-inset-bottom) + 70px); */
	}
	.menu-full .depth2 a {
		font-size: 1.6rem;
		line-height: 3rem;
	}	

	.btn-top {
		width: 40px;
		height: 40px;
		right: 30px;
		border: none;
		background-color: rgba(255, 255, 255, .8);
	}

	#footer .foot-area {
		width: 100%;
		padding: 32px 30px 40px;
	}
	.foot-area select {
		width: calc(50% - 10px);
		width: -webkit-calc(50% - 10px);		
		min-width: auto;
	}
	.foot-area .link {
		display: block;
		width: calc(50% - 10px);
		width: -webkit-calc(50% - 10px);		
	}
	.foot-area ul {
		display: none;
	}
	.foot-area .terms {
		margin-top: 24px;
		line-height: 1;
	}
	.foot-area .copy {
		background: none;
		margin-top: 12px;
		padding-left: 0;
		font-size: 1.3rem;
		line-height: 1.9rem;
	}
	.foot-area .bookmark {
		right: 30px;
		width: calc(50% - 40px);
		width: -webkit-calc(50% - 40px);		
	}
}


@media screen and (min-width:1024px) { /* pc ver */
	.pc-hide { 
		display: none !important; 
	}
}


/* 210112 그레이색 추가*/
.-color__grey {color: #666;}