
a, .cp{cursor: pointer}
.main .lasmch-logo { color: #333; font-size: 28px}
.lasmch-logo {color: white; font-size: 28px}
/* --- nav --- */
/*.nav > li + li{margin-left: 70px}*/
.main .nav > li > a {color: #333;}
.nav > li > a {font-size: 23px}

.main #gnb .myinfo {color: #333}
.main #gnb h1 span {color: #333; text-align: center; margin-left: -41px}
#gnb h1 span {text-align: center}
#gnb h1 img {
    width: 40px;
    position: absolute;
    left: -44px;
    top: -5px;
}


.quick-search {height: 350px; margin-top: 0px; padding: 0}

.main #container h2 {margin-top: 50px}
/* 메뉴 상단 고정 */

#gnb.fixed {opacity: 0.9}
/* --------- visual  -------- */
.main .visual {height: auto}
.visual .slider {padding-bottom: 100px}
.visual .slider .slick-active {opacity: 1}
.visual .slider .slick-slide {opacity: 1}
.slick-slide img {height: 500px; width: 1200px; margin: 0 auto; border-radius: 20px}
.visual.title {background-image: linear-gradient(139deg, #9e3d6f 18%, #8ef919 100%)}

.visual.title.blue {background-image: linear-gradient(154deg, #2a63a0 14%, #02c7d2 92%)}

.main .visual h2.fixed {display: none}

/* datepicker 년도 날짜 선택시 */
.ui-datepicker select.ui-datepicker-year, .ui-datepicker select.ui-datepicker-month{
    font-size: 2rem; line-height: 1;font-weight:bold; border: 0px; background-size: 0 auto;
    padding: 10px 0px 10px 0px;
}
.ui-datepicker select.ui-datepicker-year:focus, .ui-datepicker select.ui-datepicker-month:focus {
    border: 0px !important
}
.ui-datepicker select.ui-datepicker-year {
    width:55%; padding: 4px 0px 10px 27px;
}
.ui-datepicker select.ui-datepicker-month {
    width:40%; padding: 4px 0px 10px 5px;
}

/* ---- youtube ---- */
.youtube-section-title {display: none}
.youtube-list {margin-bottom: 10px;}
.youtube-list h3 {
    margin-bottom: 24px;
    color: #333;
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.youtube-list h3:after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 12px;
    margin-bottom: 3px;
    margin-left: 16px;
    background: url(../../assets/img/common/btn_more.png) no-repeat 0 0;
    background-size: 100% auto;
}

.youtube-li {
    display: inline-block;
    width: -webkit-calc((99% - 98px) / 2);
    margin-top: 64px;
    margin-right: 49px;
}
.youtube-li ul iframe {
    border-radius: 20px;
}

/* 목사님 인사말*/
.reverend {margin-top: 20px; min-height: 200px;}
.reverend > div> p {font-size: 16px;}
.reverend div {
    margin-top: 20px
}
.reverend div img {
    float: left;
    margin-right: 30px;
    height: 200px;
    border-radius: 20px;
}

/* 기타 작업중 */
.working-msg {
    margin: 110px 0 30px;
    padding-top: 160px;
    background: url(../../assets/img/lasmch/work.png) no-repeat center 0;
    background-size: 240px auto;
    text-align: center;
}
.working-msg strong {
    display: block;
    color: #333;
    font-size: 3rem;
    line-height: 4.4rem;
}

.working-msg .btn-wrap.full {margin-top: 30px;}


/* 구글 지도 */
.google-map {display: none}

/* --- 교회소식 --- */
.church-info-img-pc { display:  inline-block; width: 80%; }
.church-info-img-mb { display: none;}

/* --- 예배시간 --- */
.worship-time-img-pc { display:  inline-block; width: 80%; }
.worship-time-img-mb { display: none;}


/* ---- 교회 앨범 ---- */
.content-wrap .album {text-align: center;}
.content-wrap .album > div {display: inline-block; margin-right: 20px; margin-bottom: 10px}
.content-wrap .album > div img {height: 150px; box-shadow: 8px 5px 5px #afafaf; border-radius: 10px}
.content-wrap .album .album-title {text-align: center;}

.content-wrap .album-view {text-align: center; margin-top: 20px}
.content-wrap .album-view > div {display: inline-block; margin-right: 20px; margin-bottom: 10px}
.content-wrap .album-view > div img {min-height: 150px; max-height: 400px; box-shadow: 8px 5px 5px #afafaf; border-radius: 10px}


/* pc */
@media screen and (max-width: 1919px) {
}

/* 태블릿 */
@media screen and (max-width: 1366px) {
    .main #gnb .myinfo {color: white}
    .main #gnb .myinfo .search {
        background: url(../../assets/img/common/btn_searchW.png) no-repeat 0 0;
        margin-right: 30px;
        padding: 20px;
        background-position: center center;
        background-size: 24px auto;
    }

    .visual {background-image: linear-gradient(139deg, #9e3d6f 18%, #8ef919 100%)}

    .main #gnb.fixed.search-input {
        z-index: 11;
    }
    .main .visual h2.fixed {
        display: block;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 10;
        height: 100px;
        margin: 0 auto;
        color: white;
        line-height: 100px;
        text-align: center;
        transform: translateX(-50%);
    }
    .main .visual h2.fixed.main-gnb {color: #000 !important;}
    .main .visual h2.fixed.main-gnb a img {width: 40px; vertical-align: middle; margin-right: 10px}

    .slick-slide img {width: 100%; border-radius: 0px}

    /* slide */
    .quick-search {margin-top: 80px;}

    /* --- side menu ---*/
    .menu-full .btn-close {top: 32px;}
    .lasmch-logo {color: #3a3a3a; font-weight: bold; margin-left: 80px}
    .lasmch-logo img {
        height: 50px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .menu-full {width: 400px !important;}

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 920px) {
}

/* tablet Portrait */
@media screen and (max-width: 767px) {

    .main #gnb .myinfo .search {
        background: url(../../assets/img/common/btn_searchW.png) no-repeat 0 0;
        width: 16px;
        height: 16px;
        margin-right: 0;
        background-size: 16px auto;
        background-position: center center;
    }

    /* --- slid menu ---*/
    .menu-full {
        width: 70% !important;
    }
ap
    .menu-full .btn-close {
        top: 52px;
        background-size: 20px auto
    }

    .lasmch-logo img {
        top: 40px;
    }

    .main .visual h2.fixed {
        width: calc(100% - 120px);
        width: -webkit-calc(100% - 120px);
        height: 69px;
        line-height: 69px;
    }
    .main .visual h2.fixed a  img {width: 40px;vertical-align: middle; margin-right: 7px}

    /* ---- slider ---- */
    .visual .slider {
        padding-bottom: 100px
    }

    .visual .slider .slick-slide {
        padding-left: 45px;
    }

    .visual .slider a {
        width: 90%;
        max-width: none;
    }

    .slick-slide img {
        height: 300px;
        width: 100%
    }

    /* ---- youtube ---- */
    .youtube-list {
        padding: 19px 0 0 30px;
        background: #fff;
        box-sizing: border-box;
        min-height: 420px;
        max-height: 500px;
    }

    .youtube-list, .youtube-list h3 {
        margin-top: 0;
    }

    .youtube-section-title {
        display: block !important;
    }

    .youtube-section-title li {
        display: inline-block;
        margin-right: 24px;
    }

    .youtube-section-title h3 {
        font-size: 1.5rem;
        line-height: 3.6rem;
    }

    .youtube-section-title h3:after {
        display: none;
    }

    .youtube-section-title h3 a {
        padding-bottom: 8px;
    }

    .youtube-section-title .on {
        color: #0082ee;
        border-bottom: 2px solid #0082ee;
    }

    .youtube-li {
        display: block;
        width: 92%;
        margin-top: 10px;
    }

    .youtube-li h3 {
        display: none
    }


    /* 목사님 인사말*/
    .reverend {
        margin-top: 10px;
        padding: 20px 30px;
        background: white
    }

    .reverend > div > p {
        font-size: 14px;
    }

    /* 퀵메뉴 */
    .quick-wrap {
        margin-top: 10px
    }

    /* google 지도*/
    .google-map {
        display: block;
        margin-top: 10px;
        padding: 20px 30px;
        background: white;
        height: 300px;
        margin-bottom: 10px;
    }

    /* --- 교회소식 --- */
    .church-info-img-pc { display: none;}
    .church-info-img-mb { display: inline-block; width: 100%;}

    /* --- 예배시간 --- */
    .worship-time-img-pc { display: none;}
    .worship-time-img-mb { display: inline-block; width: 100%;}

    /* --- 주보 --- */
    .in-edit {overflow:auto;}

    /* ---- 교회 앨범 ---- */
    .content-wrap .album-view > div img {width: 100%; min-height: 150px; max-height: 400px; box-shadow: 8px 5px 5px #afafaf; border-radius: 10px}

}

/* phone */
@media screen and (max-width: 460px) {
    .slider .slider-img {height: 158px; width: 100%;}
}

/* phone */
@media screen and (max-width: 360px) {
    .slider .slider-img {height: 158px; width: 100%;}
}
