{{#partial "visual"}}
<div class="visual title">
    <h2>BOARD list</h2>
    <button class="btn-print">print</button>
</div>
{{/partial}}

{{#partial "content"}}
<div id="container">
    <div class="list-search">
        <!-- ====================================================== 일반 ====================================================== -->
        <div v-else class="search-box select-input" :class="{'in-period': params.selOption === 'period'}">
            <p class="group">
                <select title="카테고리 선택" v-model="params.selOption" @change="changeHandler()">
                    <option value="">ALL</option>
                    <option value="subject">Subject</option>
                    <option value="provider">Provider</option>
                    <option value="period">Period</option>
                </select>
                <input type="text" title="검색할 단어입력" placeholder="search" v-model="params.text" @keydown.enter="getData()"/>
            </p>
            <p class="group date-set">
                <input type="text" class="calendar" title="시작날짜" ref="str_dt" v-model="params.str_dt"/>
                <span class="dash">~</span>
                <input type="text" class="calendar" title="종료날짜" ref="end_dt" v-model="params.end_dt"/>
            </p>
            <button class="btn-search" @click="getData()">SEARCH</button>
        </div>
        <!-- ================================================================================================================= -->

        <!-- //search-box : select-input -->
    </div>
    <!-- //search-area -->

    <div class="content-wrap">
        <div class="tbl-wrap">
            {{{{raw}}}}
            <table class="board-list">
                <caption>BOARD LIST</caption>
                <colgroup>
                    <col style="width: auto;">
                    <col style="width: 16%;">
                    <col style="width: 13%;">
                    <col style="width: 11%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Read</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="i in list">
                    <td class="subject cp" @click="commonFormSubmit(base_url+'/view', i, keywords)">
                        <a>
                            <template v-for="cate in cate_list">
                                <span v-if="cate.value === i.guboon" class="cate" :class="_.isEmpty(cate.class)? '': cate.class">{{cate.name}}</span>
                            </template>

                            <span v-if="_.some([1000000, 1000001, 1000002, 1000003], function(id) {return id === i.articleid})"  v-html="i.title"></span>
                            <span v-else v-text="i.title"></span>
                        </a>
                    </td>
                    <td v-else >{{i.penname}}</td>
                    <td>{{i.crdate_d}}</td>
                    <td class="read">{{i.hit}}</td>
                </tr>
                </tbody>
            </table>
            {{{{/raw}}}}
        </div>
        <!-- //tbl-wrap -->

        {{> pager_post }}
        <!-- //pagenate -->
        <p class="btn-wrap btn-write">
            <a class="btn cp" @click="commonFormSubmit(base_url+'/write')">WRITE</a>
        </p>
    </div>
    <!-- //content-wrap -->
</div>

<!-- //container -->

{{/partial}}
{{#partial "javascript"}}
<script >
    new Vue({
        el: '#container',
        mixins: [commonMixin], //  vue common mixin js
        data: {
            list: {{json records}},
            keywords: {{json navigation.keywords}},
            params: {
                selOption: '',
                    text: '',
                    str_dt: '',
                    end_dt: '',
                    code_c: '',
                    guboon: ''
            },
            base_url: location.pathname.substring(0,8),
        },
        methods: {
            // option 변경시 초기화
            changeHandler: function () {
                this.params.text = ''
                this.params.end_dt = ''
                this.params.str_dt = ''
            },
            getData: function () {
                this.params.page = ''
                commonFormSubmit(this.base_url, this.params) // common.js
            },
        },
        created: function () {},
    })
</script>
{{/partial}}

{{> layout vuejs=true}}
