{{#partial "visual"}}
<div class="visual title">
    <h2>교회안내</h2>
</div>
{{/partial}}
{{#partial "content"}}
<div id="container">
    <div class="content-wrap" >
        <div style="text-align: center">
            <img class="church-info-img-pc" src="/assets/img/temp/church_info_pc.jpg">
            <img class="church-info-img-mb" src="/assets/img/temp/church_info_mb.jpg">
        </div>
    </div>
</div>
{{/partial}}

{{#partial "javascript"}}
<script >
    new Vue({
        el: '#container',
        data: {
        },
        methods: {
        },
        mounted: function () {
        }
    })
</script>
{{/partial}}

{{> layout }}