<div id="gnb">
    <!-- 200727 class="gnb-width div 추가 -->
    <div class="gnb-width">
        <h1>
            <a href="/" class="lasmch-logo">성문성결교회</a> <!-- 링크 메인페이지로 연결 -->
        </h1>
        <a class="btn-menu" title="모바일/태블릿 메뉴 버튼">메뉴</a>
        <ul class="nav">
            <li><a href="/weekly">교회안내</a></li>
            <li><a href="/weekly">예배시간</a></li>
            <li><a href="/weekly">교육부</a></li>
            <li><a href="/weekly">훈역사역</a></li>
            <li><a href="/weekly">주보</a></li>
            <li><a href="/weekly">교회 앨범</a></li>
        </ul>
        <div class="myinfo">
            <button class="search">검색</button>
            <a  class="user">my info</a> <!-- 클릭시 툴팁메뉴 노출됨 -->
            <p>안녕하세요! <strong>홍길동님</strong> <br>오늘도 화이팅 :)</p>
            <div class="tooltip-menu">
                <p class="txt">안녕하세요! <strong class="accent2">홍길동</strong>님<br>오늘도 화이팅:)</p>
                <ul>
                    <li><a  class="info">MY INFO</a></li>
                    <li><a  class="logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //200727 class="gnb-width div 추가 -->

    <div class="search-wrap">
        <div class="search-area">
            <select title="통합검색">
                <option value="통합검색">통합검색</option>
                <option value="검색조건1">검색조건1</option>
                <option value="검색조건2">검색조건2</option>
            </select>
            <input type="text" placeholder="검색어를 입력해주세요.">
            <button>검색</button>
        </div>
    </div>

    <button class="menu-close">닫기</button>
</div>
<!-- //gnb -->