<div id="gnb">
    <!-- 200727 class="gnb-width div 추가 -->
    <div class="gnb-width">
        <h1>
            <a href="/" class="lasmch-logo">
                <img src="/assets/img/lasmch/logo_c.png">
                성문교회</a> <!-- 링크 메인페이지로 연결 -->
            <span id="citytiem">HolyGate Evangelical Church</span>
        </h1>
        <a class="btn-menu" title="모바일/태블릿 메뉴 버튼">메뉴</a>
        <ul class="nav">
            <li>
                <a href="#">교회안내</a>
                <ul class="depth2">
                    <li><a href="/church/info">교회안내</a></li>
                    <li><a href="/church">교회소식</a></li>
                </ul>
            </li>
            <li><a href="/worship-time/view">예배시간</a></li>
            <li><a href="/board">교육부</a></li>
            <li><a href="/bible-study/view">훈련사역</a></li>
            <li><a href="/weekly">주보</a></li>
            <li><a href="/album">교회 앨범</a></li>
            <li><a href="/youtube">예배영상</a></li>
            <li v-if="!_.isEmpty(session) && session.userDetail.auth === 'SM'" >
                <a href="#">관리자</a>
                <ul class="depth2">
                    <li><a href="/user-mgmt/adm-list">USER MGMT</a></li>
                    <li><a href="/img-mgmt">IMAGE MGMT</a></li>
                </ul>
            </li>
        </ul>
        <div class="myinfo">
            <button class="search"></button>

            <a class="user">my info</a> <!-- 클릭시 툴팁메뉴 노출됨 -->
            <p v-if="session === null"> 방문해주셔서 <strong></strong> <br> 감사합니다. :)</p>
            <p v-else>안녕하세요! <strong v-text="session.nickname + '님'"></strong> <br>오늘도 화이팅 :)</p>
            <div class="tooltip-menu">
                <template v-if="session === null">
                    <p class="txt"><strong class="accent2">샬롬 :)</strong></p>
                    <ul >
                        <li><a href="/login" class="info">로그인</a></li>
                        <li><a href="/user-mgmt/write" class="info">회원가입</a></li>
                    </ul>
                </template>
                <template v-else>
                    <p class="txt">안녕하세요! <strong class="accent2" v-text="session.nickname"></strong>님<br>환영합니다. :)</p>
                    <ul >
                        <li><a href="/user-mgmt/info" class="info">MY INFO</a></li>
                        <li><a href="/logout" class="logout">로그아웃</a></li>
                    </ul>
                </template>

            </div>
        </div>
    </div>
    <!-- //200727 class="gnb-width div 추가 -->

    <div class="search-wrap">
        <div class="search-area">
            <select title="통합검색">
                <option value="통합검색">통합검색</option>
                <option value="검색조건1">검색조건1</option>
                <option value="검색조건2">검색조건2</option>
            </select>
            <input type="text" placeholder="검색어를 입력해주세요.">
            <button>검색</button>
        </div>
    </div>

    <button class="menu-close">닫기</button>
</div>
<!-- //gnb -->