<div id="gnb">
    <!-- 200727 class="gnb-width div 추가 -->
    <div class="gnb-width">
        <h1>
            <a href="/" class="lasmch-logo">
                <img src="/assets/img/lasmch/logo_c.png">
                성문성결교회</a> <!-- 링크 메인페이지로 연결 -->
            <span id="citytiem">SungMoon Church</span>
        </h1>
        <a class="btn-menu" title="모바일/태블릿 메뉴 버튼">메뉴</a>
        <ul class="nav">
            <li><a href="/weekly">교회안내</a></li>
            <li><a href="/weekly">예배시간</a></li>
            <li><a href="/weekly">교육부</a></li>
            <li><a href="/weekly">훈역사역</a></li>
            <li><a href="/weekly/view">주보</a></li>
            <li><a href="/weekly">교회 앨범</a></li>
            <li><a href="/youtube">예배영상</a></li>
        </ul>
        <div class="myinfo">
            <button class="search">
                <!--<svg viewBox="64 64 896 896" data-icon="search" width="2em" height="2em" fill="currentColor" aria-hidden="true" focusable="false" class=""><path d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"></path></svg>-->
            </button>

            <a  class="user">my info</a> <!-- 클릭시 툴팁메뉴 노출됨 -->
            <p>안녕하세요! <strong>홍길동님</strong> <br>오늘도 화이팅 :)</p>
            <div class="tooltip-menu">
                <p class="txt">안녕하세요! <strong class="accent2">홍길동</strong>님<br>오늘도 화이팅:)</p>
                <ul>
                    <li><a  class="info">MY INFO</a></li>
                    <li><a  class="logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //200727 class="gnb-width div 추가 -->

    <div class="search-wrap">
        <div class="search-area">
            <select title="통합검색">
                <option value="통합검색">통합검색</option>
                <option value="검색조건1">검색조건1</option>
                <option value="검색조건2">검색조건2</option>
            </select>
            <input type="text" placeholder="검색어를 입력해주세요.">
            <button>검색</button>
        </div>
    </div>

    <button class="menu-close">닫기</button>
</div>
<!-- //gnb -->