{{#partial "bodyClass"}}class="main"{{/partial}}
{{#partial "content"}}
<div id="container">
    <h2>예배 영상</h2>
    <div class="youtube-list">
        <ul class="youtube-section-title">
            <li><h3><a  :class="{on: params.is_view1}" @click="showYoutube('is_view1')" v-text="youtube_list[0].youtube_title"></a></h3></li>
            <li><h3><a  :class="{on: params.is_view2}" @click="showYoutube('is_view2')" v-text="youtube_list[1].youtube_title"></a></h3></li>
        </ul>
        <ul class="youtube-section">
            <li v-show="params.is_view1" class="youtube-li">
                <h3><a v-text="youtube_list[0].youtube_title" @click="commonFormSubmit('/youtube/view', youtube_list[0])"></a></h3>
                <ul class="list">
                    <iframe :src="youtube_list[0].youtube_url"
                            height="300px"
                            width="100%"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </ul>
            </li>
            <li v-show="params.is_view2" class="youtube-li">
                <h3><a v-text="youtube_list[1].youtube_title" @click="commonFormSubmit('/youtube/view', youtube_list[1])"></a></h3>
                <ul class="list">
                    <iframe
                            :src="youtube_list[1].youtube_url"
                            height="300px"
                            width="100%"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </ul>
            </li>
        </ul>
    </div>

    <h2>교회안내</h2>
    <div class="main-list">
        <ul class="section-title">
            <li><h3><a  class="on">교회소식</a></h3></li>
            <li><h3><a >예배시간</a></h3></li>
            <!--<li><h3><a >NOTICE</a></h3></li>-->
        </ul>
        <ul class="section">
            <li>
                <h3><a >교회소식</a></h3>
                <ul class="list" >
                    <li :class="{new: isNew(i.create_dt)}" v-for="i in chn_list" @click="commonFormSubmit('/church/view', i, {})">
                        <a v-text="i.title"></a>
                    </li>
                </ul>
            </li>
            <li>
                <h3><a >예배시간</a></h3>
                <ul class="list">
                    <li><a >주일예배 - 오전 10:45</a></li>
                    <li><a >새벽예배 - 매일 오전 5:30</a></li>
                    <li><a >금요기도회 - 오후 7:30</a></li>
                    <li><a >온라인 성경공부 – 커피브레이크(TBA)</a></li><!--class="new"-->
                    <li><a >EM 영어 예배 -</a></li>
                </ul>
            </li>
           <!-- <li>
                <h3><a >NOTICE</a></h3>
                <ul class="list">
                    <li><a >새 글이 없습니다.</a></li>
                </ul>
            </li>-->
        </ul>
    </div>

    <h2>목사님 인사말</h2>
    <div class="reverend">
        <div>
            <img :src="minister_params.file_s3_url">
            <div v-html="minister_params.description"></div>
        </div>
    </div>

    <h2>QUICK MENU</h2>
    <div class="quick-wrap">
        <div class="quick-view-more">
            <!--        <button type="button" id="quick-trigger">전체보기 +</button>-->
        </div>
        <ul class="quick-list">
            <li class="list06"><a href="/church/info">섬기는 사람들</a></li>
            <li class="list09"><a href="/worship-time/view">예배시간</a></li>
            <li class="list02"><a href="/weekly">주보</a></li>
            <li class="list08"><a href="/weekly/temp">교육부</a></li>
            <li class="list07"><a href="/bible-study/view">훈련사역</a></li>
            <li class="list05"><a href="/album">교회앨범</a></li>
        </ul>
        <div id="google-map1" class="quick-search"></div>
    </div>
    <div id="google-map2" class="google-map"></div>

</div>
{{/partial}}

{{#partial "javascript"}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-R-MVFMHBfqvCUYbZ1yOps736RzGjtOE&callback=initMap&libraries=&v=weekly" async></script>
<script >
    var map;
    var map2;
    function initMap() {
        map = new google.maps.Map(document.getElementById('google-map1'), {
            center: {lat: 34.2166151646264, lng: -118.24025420559808},
            zoom: 15
        });

        map2 = new google.maps.Map(document.getElementById('google-map2'), {
            center: {lat: 34.2166151646264, lng: -118.24025420559808},
            zoom: 15
        });
    }
    new Vue({
        el: '#slider2',
        data: {
            main_slid_list: {{json main_slid_list}}
        }
    })

    new Vue({
        el: '#container',
        mixins: [commonMixin], //  vue common mixin js
        data: {
            youtube_list: {{json youtube_list}},
            session: {{json session}},
            chn_list: {{json chn_list}},
            minister_params: {{json minister_params}},
            params: {
                is_view1: true,
                is_view2: false,
                last_view: 'is_view1'
            }
        },
        methods: {
            isNew: function(updateD) {
                var now_date = new Date().format('yyyy-MM-dd')
                var cnt = this.compareDates(updateD, now_date, 'day')
                if (cnt > -5) return true
                return false
            },
            showYoutube(type) {
                if ( $(window).width() < 768 ) {
                    if (_.isEmpty(type)) {
                        type = 'is_view1'
                    }
                    this.params.is_view1 = false
                    this.params.is_view2 = false
                    this.params[type] =  true
                    this.last_view = type
                }
            },
            resizeCheck() {
                const self = this
                $(window).resize(function(){
                    if ( $(window).width() < 768 ) {
                        self.showYoutube(self.last_view)
                    } else {
                        self.params.is_view1 = true
                        self.params.is_view2 = true
                    }
                });
            }
        },
        mounted: function () {
            this.$nextTick(()=> {
                this.resizeCheck()
                if ( $(window).width() > 750 ) {
                        console.log("여기")
                    this.params.is_view1 = true
                    this.params.is_view2 = true
                }
            })
            console.log(this.session)
        }
    })
</script>
{{/partial}}
{{> layout }}