<div class="menu-full" id="menu-full">

    <p class="lasmch-logo">
        <a href="/">
            <img src="/assets/img/lasmch/side_logo.png">
            성문교회</a></p> <!-- 링크 메인페이지로 연결 -->
    <ul class="depth1">
        <li>
            <a href="#">교회안내</a>
            <ul class="depth2">
                <li><a href="/church/info">섬기는 사람들</a></li>
                <li><a href="/church">교회소식</a></li>
            </ul>
        </li>
        <li>
            <a href="/worship-time/view">예배시간</a>
        </li>
        <li>
            <a href="/board">교육부</a>
        </li>
        <li>
            <a href="/bible-study/view">훈련사역</a>
        </li>
        <li>
            <a href="/weekly">주보</a>
        </li>
        <li>
            <a href="/album">교회 앨범</a>
        </li>
        <li>
            <a href="/youtube">예배영상</a>
        </li>
        <li v-if="!_.isEmpty(session) && session.userDetail.auth === 'SM'">
            <a href="#">관리자</a>
            <ul class="depth2">
                <li><a href="/user-mgmt/adm-list">USER MGMT</a></li>
                <li><a href="/img-mgmt">IMAGE MGMT</a></li>
            </ul>
        </li>
        <!-- //201209 추가 -->
    </ul>
    <button class="btn-close">닫기</button>
</div>
<!-- //menu-full -->


<script type="text/javascript">

    // gnb vue
    new Vue({
        el: '#gnb',
        data: {
            session: {{json session}}
        },
        methods:{
        },
        created: function () {
        },
        mounted: function () {
        }
    })

    // menu vue
    var menuApp = new Vue({
        el: '#menu-full',
        data: {
            session: {{json session}}
        },
        methods:{
        },
        created: function () {
        },
        mounted: function () {
        }
    })
</script>