<div class="menu-full">

    <p class="lasmch-logo">
        <a href="/">
            <img src="/assets/img/lasmch/side_logo.png">
            성문성결교회</a></p> <!-- 링크 메인페이지로 연결 -->
    <ul class="depth1">
        <li>
            <a href="/weekly">교회안내</a>
        </li>
        <li>
            <a href="/weekly">예배시간</a>
        </li>
        <li>
            <a href="/weekly">교육부</a>
        </li>
        <li>
            <a href="/weekly">훈역사역</a>
        </li>
        <li>
            <a href="/weekly">주보</a>
        </li>
        <li>
            <a href="/youtube">예배영상</a>
        </li>

        <li>
            <a href="/weekly">교회 앨범</a>
            <!--        <ul class="depth2">
                      <li><a >USER MGMT</a></li>
                      <li><a >권한관리</a></li>
                      <li><a >DOCUMENT CATEGORY MGMT</a></li>
                      <li><a >SYSTEM CODE MGMT</a></li>
                    </ul>-->
        </li>
        <!-- //201209 추가 -->
    </ul>
    <button class="btn-close">닫기</button>
</div>
<!-- //menu-full -->