<div class="visual">
    <!-- ------------------ banner ------------------ -->
<!--    <div class="top-banner">-->
<!--        <div class="bnr-area">-->
<!--            <div>-->
<!--                <a >-->
<!--                    <strong>열심을 다하여 배우는해(빌1:9)</strong>-->
<!--                    <span>1. 주님이 주시는 말씀을 배우는 해</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div>-->
<!--                <a >-->
<!--                    <strong>열심을 다하여 배우는해(빌1:9)</strong>-->
<!--                    <span>2. 주님이 주시는 감사를 배우는 해</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div>-->
<!--                <a >-->
<!--                    <strong>열심을 다하여 배우는해(빌1:9)</strong>-->
<!--                    <span>3. 주님이 주시는 기쁨을 배우는 해</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            &lt;!&ndash; // 배너1 &ndash;&gt;-->
<!--        </div>-->
<!--        <p class="bnr-close">-->
<!--            <label for="bnrClose">오늘 하루 열지 않기</label>-->
<!--            <button id="bnrClose">닫기</button>-->
<!--        </p>-->
<!--        <span class="paging"></span>-->
<!--    </div>-->

    <!-- ------------------ slider ------------------ -->
    <div class="slider2">
        <div>
            <a >
                <img src="/assets/img/lasmch/home_1.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_2.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_3.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_4.jpg" class="slider-img">
            </a>
        </div>
    </div>
    <!--    <span class="pagingInfo"></span>-->
    <a  class="scroll">Scroll down</a>
</div>