<div class="visual">
<!--    <div><img src=""></div>-->
    <!-- ------------------ slider ------------------ -->
    <div class="slider2">
        <div>
            <a >
                <img src="/assets/img/lasmch/home_1.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_2.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_3.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_4.jpg" class="slider-img">
            </a>
        </div>
    </div>
    <!--    <span class="pagingInfo"></span>-->
    <!--<a  class="scroll">Scroll down</a>-->
</div>