<div class="visual">
    <h2 class="fixed"><a href="/">
        <!--<img src="/assets/img/lasmch/logo_c.png">-->
        성문교회</a></h2>
    <!-- ------------------ slider ------------------ -->
    <div class="slider2">
        <div>
            <a >
                <img src="/assets/img/lasmch/home_3.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_1.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_2.jpg" class="slider-img">
            </a>
        </div>
        <div>
            <a >
                <img src="/assets/img/lasmch/home_4.jpg" class="slider-img">
            </a>
        </div>

        <div>
            <a >
                <img src="/assets/img/lasmch/home_7.jpg" class="slider-img">
            </a>
        </div>
    </div>
    <!--    <span class="pagingInfo"></span>-->
    <!--<a  class="scroll">Scroll down</a>-->
</div>