/* 목사님 인사말*/
.reverend div {
    margin-top: 20px
}

.reverend div img {
    float: left;
    margin-right: 30px;
}


@media screen and (max-width: 1919px) {

}

/* 태블릿 */
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1024px) {
    .section.s-board > li h3:after {
        display: none;
    }

    .section.s-board > li {
        width: calc((100% - 0px) / 3);
        width: -webkit-calc((100% - 0px) / 3);
    }
}

@media screen and (max-width: 920px) {
}

/* tablet Portrait */
@media screen and (max-width: 767px) {
    .reverend {
        padding: 0 32px 50px 32px;
    }

    .section.s-board > li {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    /* 목사님 인사말*/
    .reverend div img {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 360px) {

}